{% extends 'base.html.twig' %}

{% block title %}Hello DefaultcontrolerController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <ul>
        <li>DEERRE</li>
        <li>Théo</li>
        <li>groupe 1</li>
        <li>git : </li>
    </ul>
</div>
{% endblock %}
